<div class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><img src="images/logo.png" /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item <%= page_name === 'categories' && 'active' %>">
            <a class="nav-link" href="/categories">Categories</a>
          </li>
         <% if(user && user.role === 'client'){ %>
          <li class="nav-item <%= page_name === 'cart' && 'active' %>">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          <% } %>
          <li class="nav-item <%= page_name === 'contact' && 'active' %>">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li  
          <% if(user && user.role == "admin"){ %>
          <li class="nav-item"-item>
            <a class="nav-link" href="/admin"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-bank2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"
                /></svg
            ></a>
          </li>
          <% } %> <% if(user){ %>
          <li class="nav-item"><a class="nav-link" href="users/logout">Logout</a></li>
          <% } else { %>
          <li class="nav-item <%= page_name === 'login' && 'active' %>">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <% } %>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <div class="call_text">
            <ul>
              <li>
                <a href="#"
                  ><i class="fa fa-phone" aria-hidden="true"></i
                  ><span class="padding_left_15">Call : +01 1234567890</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-map-marker" aria-hidden="true"></i
                  ><span class="padding_left_15">Loram ipusm</span></a
                >
              </li>
            </ul>
          </div>
        </form>
      </div>
    </nav>
    <div class="custome_menu">
      <ul>
        <li class="<%= page_name === 'home' && 'active' %>">
          <a href="/">Home</a>
        </li>
        <li class="<%= page_name === 'about' && 'active' %>">
          <a href="/about">About</a>
        </li>
        <li class="<%= page_name === 'categories' && 'active' %>">
          <a href="/categories">Categories</a>
        </li>
       <% if(user && user.role === 'client'){ %>
        <li class="<%= page_name === 'cart' && 'active' %>">
          <a href="/cart">Cart</a>
        </li>
        <% } %>
        <li class="<%= page_name === 'contact' && 'active' %>">
          <a href="/contact">Contact Us</a>
        </li>
        <% if(user && user.role == "admin"){ %>
        <li>
          <a href="/admin"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-bank2"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"
              /></svg
          ></a>
        </li>
        <% } %> <% if(user){ %>
        <li><a href="users/logout">Logout</a></li>
        <% } else { %>
        <li class="<%= page_name === 'login' && 'active' %>">
          <a href="/login">Login</a>
        </li>
        <% } %> <% if(page_name === "furnitures"){ %>
        <li>
          <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </li>
        <%} %>
      </ul>
    </div>
    <% if(user){ %>
    <div>
      <span class="fs-1 text-light"><%= user.name %></span>
    </div>
    <% } %>
  </div>
</div>
