<%- include('./partials/_header') %>
  <%- include('./partials/_nav') %>

    <div class="contact_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 mx-auto">
            <h1 class="contact_taital contact_heading">Log in</h1>
          </div>
        </div>
        <div class="contact_section_2">
          <div class="row">
            <div class="col-md-12">
              <div class="mail_section map_form_container">
                <span>
                  <% if(flashMessages){ %>
                    <% if(flashMessages.success){ %>
                      <div class="alert-sm alert-success mb-3">
                        <%= flashMessages.success %>
                      </div>
                      <% } else if(flashMessages.err){ %>
                        <div class="alert alert-danger mb-3">
                          <%= flashMessages.err %>
                        </div>
                        <% } %>
                          <% } %>
                </span>

                <form action="/users/login" method="post">
                  <div class="mb-3">
                    <label for="InputEmail1" class="form-label">Email address</label>
                    <input id="InputEmail1" type="email" class="mail_text" name="email">
                  </div>
                  <div class="mb-3">
                    <label for="InputPassword1" class="form-label">Password</label>
                    <input id="InputPassword1" type="password" class="mail_text" name="password">
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <div class="col-sm-6 mx-auto">
                  <a href="/signup" class="">Don't have an account yet? Sign up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
        </div>
      </div>
    </div>

    <%- include('./partials/_footer') %>